<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">
<title>Facturación</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style/factura.css') }}">

</head>

<body>

<h1>📄 Sistema de Facturación</h1>

{% for pedido in pedidos %}

<div class="card">

<h2>{{pedido.info.nombre}}</h2>

<p class="estado">Estado: {{pedido.info.estado}}</p>

<p>Email: {{pedido.info.email}}</p>

{% if pedido.info.estado != "Enviado" %}

<ul>
    {% for d in pedido.detalles %}
        <li>
            🍽 {{ d.nombre }} <strong>x {{ d.cantidad }}</strong>
        </li>
    {% endfor %}
</ul>

<form action="/enviar_factura/{{pedido.info.id}}" method="POST" enctype="multipart/form-data">

<input type="file" name="archivo" required>

<br>

<button type="submit">Enviar factura</button>

</form>

{% else %}

<p class="ok">✔ Factura enviada</p>

{% if pedido.info.factura %}
<a class="ver" href="/{{pedido.info.factura}}" target="_blank">📄 Ver factura</a>
{% endif %}

{% endif %}

</div>

{% endfor %}

<div id="modal" class="modal">
<div class="modal-content">
✅ Factura enviada correctamente
</div>
</div>

<script src="{{ url_for('static', filename='scripts/factura.js') }}"></script>

</body>
</html>